body {
    padding: 10px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    border: 2px solid black;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    padding: 5px;
}

.card img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.searchdiv {
    margin-bottom: 5px;
}
